{% extends 'base.html' %}
{% load static %}
{% load l10n %}


{% block content %}




<!--################################ DRAWER IZQUIERO Y DERECHO #####################################-->
<!--Barra de navegacion entre projectos -->
<v-navigation-drawer v-model="drawer2" expand-on-hover mini-variant permanent absolute dark>
  <v-list dense nav class="py-1">
    <v-list-item two-line class="px-0">
      <v-list-item-avatar>
        <img src="https://k60.kn3.net/89F951249.gif">
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title>List Projects!!</v-list-item-title>
        <v-list-item-subtitle>@{{ user }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list-item v-for="item in Project_list" :key="item.id" @click="List_Table(item.id)" link>
      <v-list-item-icon>
        <v-icon>mdi-view-dashboard</v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title>[[ item.name ]]</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</v-navigation-drawer>
<!--Barra de navegacion entre projectos -->


<!--Barra de navegacion Izquierda para modificar eventos entre projectos -->
<v-navigation-drawer v-model="drawerEdit" width="1000" temporary absolute right dark>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 lg12 md12>
        <v-btn @click="Task_Mark_Finished()" text outlined rounded color="success">
          <v-icon left>mdi-content-save</v-icon> Mark as finished
        </v-btn>
      </v-flex>

      <v-flex xs12 lg12 md12>
        <v-col xs4 lg4 md4>
          <h1 class="white--text">[[ List_Task_drawer.title ]]</h1>
          <h4 class="white--text" v-if="List_Task_drawer.priority===1"> Level of urgency : <v-chip class="ma-2"
              color="primary"> Low</v-chip>
          </h4>
          <h4 class="white--text" v-if="List_Task_drawer.priority===2"> Level of urgency : <v-chip
              class="ma-2 black--text" color="yellow"> Medium</v-chip>
          </h4>
          <h4 class="white--text" v-if="List_Task_drawer.priority===3"> Level of urgency : <v-chip class="ma-2"
              color="red"> Urgent</v-chip>
          </h4>
          <h4 class="white--text" v-if="List_Task_drawer.priority===4"> Level of urgency : <v-chip class="ma-2"> Wait
            </v-chip>
          </h4>
          <h4 class="white--text">[[ List_Task_drawer.description ]]</h4><br>

          

        </v-col>

      </v-flex>


      <!--Sub Tarea dentro de la tarea-->
      <v-flex xs12 lg12 md12>
        <template v-if="List_Comment_drawer != ''">
          <v-virtual-scroll :items="List_Comment_drawer" :item-height="60" height="210">
            <template v-slot="{ item }">
              <v-list-item three-line outlined>
                <v-list-item-avatar>
                  <v-avatar>
                    <v-img :src="item.image"></v-img>
                    
                  </v-avatar>
                </v-list-item-avatar>
                
                <v-list-item-content>

                  <v-list-item-title class="blue--text"
                    v-text='"@"+item.owner.username +"  -  (" + item.date_create + ")" + "-" + item.date_time_c '>
                  </v-list-item-title>
                  <v-list-item-subtitle v-text="item.comment"></v-list-item-subtitle>
                  <v-divider></v-divider>

                </v-list-item-content>

              </v-list-item>
            </template>
          </v-virtual-scroll>
        </template>
      </v-flex>
      <!--Sub Tarea dentro de la tarea-->
      <v-flex xs12 lg12 md12>

        <v-col cols="12" md="12">
          <v-textarea outlined name="input-7-4" v-model="id_task_comentario" label="New Comment" dense></v-textarea>
          <v-btn small text outlined rounded color="success" @click="Task_add_comment()">
            <v-icon small left>mdi-pencil</v-icon> Add Comment
          </v-btn>
        </v-col>
      </v-flex>
    </v-layout>
  </v-container>
</v-navigation-drawer>
<!--Barra de navegacion Izquierda para modificar eventos entre projectos -->
<!--################################ DRAWER IZQUIERO Y DERECHO #####################################-->

<!--############################# Seccion de Dialog ##################################-->
<!--Dialog Para agregar y modificar proyectos creados -->
<template>
  <v-row justify="center">
    <v-dialog v-model="dialogProyecto" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card class="d-inline-block mx-auto" outlined>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogProyecto = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>New Project</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="dialogProyecto = false">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list three-line subheader>
          <v-subheader>Name this project</v-subheader>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>
                <v-row>
                  <!--Nombre del proyecto-->
                  <v-flex lg6 xs12 sm6 md4>
                    <v-col>
                      <v-text-field label="Project Name" outlined shaped></v-text-field>
                    </v-col>
                  </v-flex>
                  <!--Urgencias-->
                  <v-flex lg2 xs12 sm2 md2>
                    <v-col>
                      <v-select :items="Nivel_urgencia" outlined shaped item-text="nombre" item-value="id"
                        label="Level of urgency" prepend-inner-icon="mdi-pencil" v-model="Nivel_urgencia_select">
                      </v-select>
                    </v-col>
                  </v-flex>


                  <!--Descripcion del proyect-->
                  <v-flex lg12 xs12 sm6 md4>
                    <v-col>
                      <v-textarea outlined name="input-7-4" label="Project Descrition " value="" shaped></v-textarea>
                    </v-col>
                  </v-flex>

                </v-row>
                <v-list-item-subtitle>This project will only be visible by users who are given permission or assigned to
                  a specific task</v-list-item-subtitle>

              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-list>
        <v-divider></v-divider>
        <v-list three-line subheader>
          <v-subheader>Kamban Structure
            <v-btn @click="dialogKamban=true" class="mx-2" fab dark small color="green">
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
          </v-subheader>
          <v-list-item>
            <v-list-item-content>
              <!--Apartado del listado de Kamban -->
              <v-flex lg2 xs12 sm6 md4>
                <v-col>
                  <!--Lista de Kamban tipo card-->
                  <v-card dark class="mx-auto">
                    <v-list-item>
                      <v-list-item-avatar color="grey">
                        <v-img src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"></v-img>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title class="headline">Kamban Name</v-list-item-title>
                        <v-list-item-subtitle>by Usuario</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-card-title>
                      Descripcion del Kamban
                    </v-card-title>

                    <v-card-actions>
                      <v-btn @click="dialogKambanTask = true" color="green" block>Add Task</v-btn>
                    </v-card-actions>

                    <v-expand-transition>
                      <div v-show="show">
                        <v-divider></v-divider>
                        <v-card-text>
                          <template>
                            <v-simple-table>
                              <template v-slot:default>
                                <thead>
                                  <tr>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="item in desserts" :key="item.name">
                                    <td>[[ item.name ]]</td>
                                    <td>
                                      <v-btn color="red" fab small dark>
                                        <v-icon small>mdi-delete</v-icon>
                                      </v-btn>
                                    </td>
                                  </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </template>


                        </v-card-text>
                      </div>
                    </v-expand-transition>
                  </v-card>
                  <!--Lista de Kamban tipo card-->
                </v-col>
              </v-flex>
              <!--Apartado del listado de Kamban -->
            </v-list-item-content>
          </v-list-item>

        </v-list>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<!--Dialog Para agregar y modificar proyectos creados -->

<!--Sub Diaglo para agregar Kamban a Proyecto -->
<template>
  <v-row justify="center">
    <v-dialog v-model="dialogKamban" persistent max-width="600px">

      <v-card dark>
        <v-card-title align="center">
          <span class="headline text-center">
            <h2 class="headline text-center">New Kamban <v-icon>mdi-pencil</v-icon>
            </h2>
          </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field outlined label="Name" required></v-text-field>
              </v-col>

              <v-col cols="12" md="12">
                <v-textarea outlined name="input-7-4" required label="Description" value=""></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>All fields are required</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" @click="dialogKamban = false">Close</v-btn>
          <v-btn color="green darken-4" @click="dialogKamban = false">Save and add New</v-btn>
          <v-btn color="green darken-1" @click="dialogKamban = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<!--Sub Diaglo para agregar Kamban a Proyecto -->

<!--Sub Diaglo para agregar Task a Kamban del Proyecto -->
<template>
  <v-row justify="center">
    <v-dialog v-model="dialogKambanTask" persistent max-width="600px">

      <v-card dark>
        <v-card-title align="center">
          <span class="headline text-center">
            <h2 class="headline text-center">New Task <v-icon>mdi-pencil</v-icon>
            </h2>
          </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field outlined label="Name" required></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="12">
                <v-select :items="Nivel_urgencia" outlined item-text="nombre" item-value="id" label="Level of urgency"
                  prepend-inner-icon="mdi-pencil" v-model="Nivel_urgencia_select"></v-select>
              </v-col>


              <v-col cols="12" md="12">
                <v-textarea outlined name="input-7-4" required label="Description" value=""></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>All fields are required</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" @click="dialogKambanTask = false">Close</v-btn>
          <v-btn color="green darken-1" @click="dialogKambanTask = false">Save and add New</v-btn>
          <v-btn color="green darken-1" @click="dialogKambanTask = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<!--Sub Diaglo para agregar Task a Kamban del Proyecto -->
<!--############################# Seccion de Dialog ##################################-->


<!--########################################### BOTON NAVEGACION DASHBOARD #######################################-->
<!-- Botones de navegacion -->
<v-bottom-navigation v-model="bottomNav" dark shift>
  <v-btn>
    <span>Dashboard</span>
    <v-icon>mdi-tablet-dashboard</v-icon>
  </v-btn>

  <v-btn>
    <span>Table</span>
    <v-icon>mdi-table-large-plus</v-icon>
  </v-btn>

  <v-btn>
    <span>Board</span>
    <v-icon>mdi-chart-tree</v-icon>
  </v-btn>

  <v-btn>
    <span>TimeLine</span>
    <v-icon>mdi-clock-digital</v-icon>
  </v-btn>

  <v-btn>
    <span>Image</span>
    <v-icon>mdi-image</v-icon>
  </v-btn>
</v-bottom-navigation>
<!-- Botones de navegacion -->

<!--DIV DASHBOARD PRINCIPAL -->
<div v-if="bottomNav=== 0">

  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 lg6 md6>
        <h2 align="center">Projects </h2> </br>
        <v-card class="mx-auto">
          <v-simple-table dense dark>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Project</th>
                  <th class="text-left">Team</th>
                  <th class="text-left">Advance</th>
                  <th class="text-left">Comment</th>
                  <th class="text-left">Time</th>
                  <th class="text-left">Action</th>

                </tr>
              </thead>
              <tbody>

                <tr>
                  <td> Nombre del proyecto</td>
                  <td>
                    <v-icon>mdi-account-lock</v-icon>33
                  </td>
                  <td>
                    <v-progress-linear height="15" value=70><strong>70%</strong></v-progress-linear>
                  </td>
                  <td> 33k <v-icon>mdi-comment</v-icon>
                  </td>
                  <td> 39 Days</td>
                  <td>
                    <v-icon> mdi-content-save-edit-outline </v-icon>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-flex>

      <v-flex xs12 lg6 md6>
        <h2 align="center">Work Teams </h2></br>
        <v-card class="mx-auto">
          <v-simple-table dense dark>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">User</th>
                  <th class="text-left">Email</th>
                  <th class="text-left">Projects</th>
                  <th class="text-left">Comment</th>
                  <th class="text-left">Like</th>
                  <th class="text-left">Files</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <v-icon>mdi-account</v-icon> Randy
                  </td>
                  <td> tuxus01@gmail.com</td>
                  <td> 5 Active</td>
                  <td>33k <v-icon>mdi-comment</v-icon>
                  </td>
                  <td>100 <v-icon>mdi-thumb-up</v-icon>
                  </td>
                  <td>100 <v-icon>mdi-file-link</v-icon>
                  </td>

                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</div>
<!--DIV DASHBOARD PRINCIPAL -->

<!--DIV Table Data -->
<div v-if="bottomNav=== 1">
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 lg12 md12>
        <!--Aqui van los diferentes datos de projecto v-if bottomNav-->
        <div v-if="itemsKamban !='' ">
          <v-card>
            <v-list dense rounded>
              <v-list-group v-for="item in itemsKamban" :key="item.id" v-model="item.active"
                prepend-icon="mdi-view-dashboard" no-action selected @click="List_subTask(item.id)"
                v-on:dblclick="List_subTask2()" active-class="dark">

                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.name"></v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item  v-for="subItem in subitemKamban" :key="subItem.id" @click="List_Coment(subItem.id)">

                  <!--Avatar del usuario asignado a la tarea-->
               
                  <v-list-item-avatar >
                    <v-img
                      src="https://e7.pngegg.com/pngimages/266/560/png-clipart-python-computer-icons-programmer-javascript-programming-language-python-logo-angle-text.png">
                    </v-img>
                  </v-list-item-avatar>


                  <v-list-item-content v-if="subItem.status === false" class="text-decoration-line-through  font-italic" >
                    <v-list-item-title v-text="subItem.title"></v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-content v-else >
                    <v-list-item-title v-text="subItem.title"></v-list-item-title>
                  </v-list-item-content>


                  <v-list-item-content v-if="subItem.status === false" class="text-decoration-line-through font-italic ">
                    <v-list-item-title v-text="subItem.date_create"></v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-content v-else>
                    <v-list-item-title v-text="subItem.date_create"></v-list-item-title>
                  </v-list-item-content>


                  <v-list-item-content v-if="subItem.status === false" class="text-decoration-line-through font-italic">
                    <v-list-item-title v-text="subItem.date_change"></v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-content v-else>
                    <v-list-item-title v-text="subItem.date_change"></v-list-item-title>
                  </v-list-item-content>


                  <template v-if="subItem.priority===1">
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-chip class="ma-2" color="primary">Low</v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <template v-if="subItem.priority===2">
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-chip class="ma-2" color="yellow">Medium</v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <template v-if="subItem.priority===3">
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-chip class="ma-2" color="red">Urgent</v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <template v-if="subItem.priority===4">
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-chip class="ma-2" color="blue">Wait</v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>


                
                </v-list-item>

              

              </v-list-group>
            </v-list>
          </v-card>



        </div>

        <div v-else>
          <h1 align="center">Please select the project to work</h1>
        </div>

      </v-flex>
    </v-layout>
  </v-container>
</div>
<!--DIV Table Data -->


<!--DIV Proyecto -->
<div v-if="bottomNav=== 2">
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 lg12 md12>

        d

      </v-flex>
    </v-layout>
  </v-container>
</div>
<!--DIV Proyecto -->
<!--########################################### BOTON NAVEGACION DASHBOARD #######################################-->


{% endblock %}