{% load static %}
<!DOCTYPE html>
<html>
<head>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 
</head>
<body>
  <div id="app">



        <template>
            <v-app id="inspire">


              <form action="#" method="get">
              <v-app-bar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                app
                color="blue darken-2"
                dark
                dense
              >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title
                  style="width: 300px"
                  class="ml-0 pl-4"
                >
                  <span class="hidden-sm-and-down">Task Manager </span>
                </v-toolbar-title>
                
                <v-text-field
                  flat
                  solo-inverted
                  hide-details
                  prepend-inner-icon="mdi-magnify"
                  label="Search ..."
                  class="hidden-sm-and-down"
                  type="search"
                  id="buscar" name="buscar"

                ></v-text-field>
                
                <v-spacer></v-spacer>

             
                  
                
              
                {% if user.is_authenticated %}
                <v-btn  small fab color="green">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>

                <v-btn icon>
                  <v-icon >mdi-python</v-icon>
                </v-badge>
                </v-btn>
                
                
              
                {{ user.first_name }} {{ user.last_name}}</br>

               
                {% else %}
                <v-btn href="" icon>
                  <v-icon>mdi-facebook</v-icon>
                </v-badge>
                </v-btn> 
                
                {% endif %}

                
                
                
                
              </v-app-bar>
            </form>
                <v-main >
                    {% block content %}

                    {% endblock %}


                </v-main>
            
            
            </v-app>
          </template>

    
  </div>






  
  <!--Informacion del contenido a mostrar -->
  

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


{% block script %}

{% endblock %}

  <script>

var app = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  vuetify: new Vuetify(),
  data: {
      dialog: false,
      drawer: false,
      drawer2 : true,
      drawerEdit : false,

      //Menu Derecho con lista de Projectos 
      items: [
          { title: 'Proyect1', icon: 'mdi-view-dashboard' ,id:'Test' },
          { title: 'Proyect2', icon: 'mdi-image',id:1 },
          { title: 'Proyect3', icon: 'mdi-help-box',id:2 },
          { title: 'Proyect4', icon: 'mdi-help-box',id:3 },
          { title: 'Proyect5', icon: 'mdi-help-box',id:4 },
        ],

      //List Desplegado Kamban Table
      itemsKamban: [
          {
            action: 'local_activity',
            title: 'Inicio',
            active:true,
            items: [
              { title: 'List Item', date_create:'2020-02-02',date_update:'2020-08-01', priority:'Urgent' },
            ],
          },
          {
            action: 'restaurant',
            title: 'Proceso',
            active: false,
            items: [
              { title: 'Breakfast & brunch' },
              { title: 'New American' },
              { title: 'Sushi' },
            ],
          },
          {
            action: 'school',
            title: 'Evaluacion',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'directions_run',
            title: 'Rectificacion',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'healing',
            title: 'Health',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'content_cut',
            title: 'Office',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'local_offer',
            title: 'Close',
            items: [
              { title: 'List Item' },
            ],
          },
        ],
    

      bottomNav: 2,
      bottomNavProject : 'Test',





     
     
  },

  computed: {
   
      
    },


  methods: {
   

  }
});


  </script>
</body>
</html>