{% load static %}
<!DOCTYPE html>
<html>

<head>

  {% load pwa %}

  {% progressive_web_app_meta %}

  <!--############################### TE GUSTA LEER EL CODIGO AJENO ? #####################################-->
  <!--############################### SUERTE ENTENDIENDO LO QUE HICE :(  #####################################-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Fotorama from CDNJS, 19 KB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--Video JS-->
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>


  <!--push notification-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>





{% block head %}
{% endblock %}






</head>

<body>





  <div id="app" >
    <template>
      <v-app id="inspire"dark >
        <form action="#" method="get">

          {% if user.is_authenticated %}
          <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app dark dense>
            <v-app-bar-nav-icon @click.stop="drawer2 = !drawer2"></v-app-bar-nav-icon>
            <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
              <span>Task Manager </span>
            </v-toolbar-title>
            <v-divider inset class="mx-1" vertical></v-divider>


            <!--asignacion de participantes por proyectos -->
            <div v-if="Project_owner_ID_Global != 0">
              <div v-if="Project_owner_ID_Global == Project_owner_ID_OWNER">
                <div v-if="itemsKamban != ''">
                  <v-btn @click="dialogColaboradores=true" small fab color="blue">
                    <v-icon> mdi-account-plus</v-icon>
                  </v-btn>
                  <v-chip v-for="i in List_Members_for_project" pill class="hidden-sm-and-down">
                    <v-avatar left>
                      <v-img :src="i.image"></v-img>
                    </v-avatar>
                    [[ i.username ]]
                  </v-chip>
                </div>
                <!--asignacion de participantes por proyectos -->
              </div>
              <div v-else>
                <div v-if="itemsKamban != ''">



                </div>
                <h1></h1>
              </div>
            </div>
            <v-spacer></v-spacer>

            {% if user.is_authenticated %}
            <v-btn @click="dialogProyecto=true" small fab color="green">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-divider inset class="mx-4" vertical></v-divider>
            <v-btn  href="/logout" small fab color="red">
              <v-icon>mdi-logout</v-icon>
            </v-btn>


            <v-divider inset class="mx-4" vertical></v-divider>
            {% if user.first_name == "" %}
              {{ user }}
            {% else %}
              {{ user.first_name }} {{ user.last_name}}</br>
            {% endif %}

            {% else %}
            <v-btn href="" icon>
              <v-icon>mdi-facebook</v-icon>
              </v-badge>
            </v-btn>
            {% endif %}
          </v-app-bar>
          {% endif %}
        </form>
        <v-main >
          {% block content %}

          {%  endblock %}
        </v-main>
      </v-app>
    </template>
  </div>




  <!--Push Notifications-->
  <script src="{% static 'pushjs/push.js' %}"></script>


  <!--Informacion del contenido a mostrar -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


  {% block script %}

  {% endblock %}


  <script>
    var CSRF_TOKEN = '{{ csrf_token }}'
    var ID_Token = {{ user.id }}
  </script>


  <script>

    var app = new Vue({

      delimiters: ['[[', ']]'],
      el: '#app',

      vuetify: new Vuetify(),
      data: {
        dialog: false,
        drawer: false,
        drawer2: false,
        //Modal para agregar colabores a proyecto
        dialogColaboradores: false,
        //Ver archivos adjuntos en comentarios
        fileDialog: false,
        drawerEdit: false,
        //Mostrar Videos Diaglo
        dialogVideo: false,

        //ID temporal del task que servira para poder realizar la insercion de comentarios desde
        //el drawer izquierdo de la aplicacion
        id_task: 0,
        id_task_comentario: '',
        id_Project_Task: 0,

        //Menu Derecho con lista de Projectos agregados como miembro.
        Project_list: [],
        Project_owner_ID_Global: 0,
        Project_owner_ID_OWNER: 0,
        Project_ID_Global: 0,


        //List Desplegado Kamban Table
        itemsKamban: [],
        subitemKamban: [],

        //Navegacion entre opciones, Lista, Dashboard, Table, Kamban, TimeLine, Image
        bottomNav: 1,
        bottomNavProject: '',

        //Barra Izquierda 
        //Listado de Comentarios
        List_Task_drawer: [],
        List_Comment_drawer: [],
        rules: [v => v.length <= 225 || 'Max 225 characters'],
        //Adjunto de archivos varios

        //Lista de colabores
        List_Members_for_project: [],

        //Diaglo para agregar y modificar Proyecto
        dialogProyecto: false,
        //Diaglogo para agregar Kamban a Proyecto
        dialogKamban: false,
        //Diaglo para agregar task a kamban del proyecto
        dialogKambanTask: false,
        //ID que se usara para la creacion de kambas
        Proyect_ID_Kamba: 0,
        kamban_name: '',
        kamban_description: '',

        task_project_id: 0,
        //Variables para fomulario y guardar task de proyecto
        task_id: 0,
        task_title: '',
        task_description: '',

        //Arragle de archivos que se subiran al comentario
        files: [],
        files_path: '',
        //Variable que direa si muestra iframe modal
        files_mostrar: true,
        files_mostar_html: '',
        files_office_file: false,

        //NOTIFICACIONES PUSH
        snackbar: false,
        snackbar_titulo: '',
        snackbar_comentario: '',

        //Urgencia Select creacion de proyecto
        Nivel_urgencia: [
          { 'id': 1, 'nombre': 'Low' },
          { 'id': 2, 'nombre': 'Medium' },
          { 'id': 3, 'nombre': 'Urgent' },
          { 'id': 4, 'nombre': 'Wait' },
        ],
        Nivel_urgencia_select: '',

        //Card de creacion de task
        show: true,

        Task_Kamban: [],


        //Variables para agregar proyecto desde fomulario Dialogo
        project_name_add: '',
        project_description_add: '',
        //Projecto Lista de Tabla 
        singleSelectProjectCreate: false,
        selectedProjectCreate: [],
        kambaProjectCreate: [],
        headersProjectCreate: [
          {
            text: 'Project Name',
            align: 'start',
            sortable: false,
            value: 'name',
          },

          { text: 'Description', value: 'description' },

        ],
        dessertsProjectCreate: [],

        ///////////HISTORY
        history_task_comment_var: [],
        //////////HISTORY


        //Busqueda de usuario y agregado a proyecto en curso
        search_usuario: '',
        search_complete: [],
        //Busqueda de usuario y agregado a proyecto en curso

          //Calendar
          focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
        '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
          //Calendar



          //Reglas para validar usuario en singin

      valid: false,
      password2:'',
      password1:'',
      username: '',
      usernameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],


      },


      filters: {
        icon: function (string) {
          var self = this;
          let icon = 'mdi-language-python'

          var py = string.endsWith(".py");
          if (py === true) {
            icon = "mdi-database"

          }

          var sql = string.endsWith(".sql");
          if (sql === true) {
            icon = "mdi-database"

          }

          var png = string.endsWith(".png");
          if (png === true) {
            icon = "mdi-file-image"

          }
          var pdf = string.endsWith(".pdf");
          if (pdf === true) {
            icon = "mdi-file-pdf"

          }

          var doc = string.endsWith(".doc");
          if (doc === true) {
            icon = "mdi-file-word"

          }

          var docx = string.endsWith(".docx");
          if (docx === true) {
            icon = "mdi-file-word"

          }

          var csv = string.endsWith(".csv");
          if (csv === true) {
            icon = "mdi-file-excel"

          }

          var xls = string.endsWith(".xls");
          if (xls === true) {
            icon = "mdi-file-excel"

          }

          var xlsx = string.endsWith(".xlsx");
          if (xlsx === true) {
            icon = "mdi-file-excel"

          }

          var jpg = string.endsWith(".jpg");
          if (jpg === true) {
            icon = "mdi-file-image"

          }

          var jpeg = string.endsWith(".jpeg");
          if (jpeg === true) {
            icon = "mdi-file-image"

          }

          var mp4 = string.endsWith(".mp4");
          if (mp4 === true) {
            icon = "mdi-video"

          }


          return icon
        },

        type_file: function (string) {
          let icon = ''

          var sql = string.endsWith(".sql");
          if (sql === true) {
            icon = ".sql"

          }

          var py = string.endsWith(".py");
          if (py === true) {
            icon = ".py"

          }


          var png = string.endsWith(".png");
          if (png === true) {
            icon = ".png"
          }
          var pdf = string.endsWith(".pdf");
          if (pdf === true) {
            icon = ".pdf"
          }

          var doc = string.endsWith(".doc");
          if (doc === true) {
            icon = ".doc"
          }

          var docx = string.endsWith(".docx");
          if (docx === true) {
            icon = ".docx"
          }

          var csv = string.endsWith(".csv");
          if (csv === true) {
            icon = ".csv"
          }

          var xls = string.endsWith(".xls");
          if (xls === true) {
            icon = ".xls"
          }

          var xlsx = string.endsWith(".xlsx");
          if (xlsx === true) {
            icon = ".xlsx"
          }

          var jpg = string.endsWith(".jpg");
          if (jpg === true) {
            icon = ".jpg"

          }

          var jpeg = string.endsWith(".jpeg");
          if (jpeg === true) {
            icon = ".jpeg"

          }

          var mp4 = string.endsWith(".mp4");
          if (mp4 === true) {
            icon = ".mp4"

          }


          return icon

        },
      },
      watch: {
      },

      computed: {
        getProjectID: function () {
          var id = 0
          if (this.selectedProjectCreate) {
            id = this.selectedProjectCreate
            this.List_Kamban_Task_Project_Select(id)
            return this.selectedProjectCreate
          }
        },
        Validar_Contra: function () {
          var id = ""
          if((this.password1 != "") && (this.password2 != "") ){
            if (this.password2 != this.password1) {
              id = "Passwords do not match"
              
              return id
            }
          }
        },

        Validar_Contra_seguridad: function () {
          var id = ""
          //return id
          if(this.password1 != ''){
            if (this.password1.length < 8) {
              id = 'Too short'
              return id
            }
            if (!this.password1.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)){
            id = 'for security add Uppercase and Lowercase Letters, Example = Admin@1234'
            return id
          }
         

          
          }
          
         
           
        },
       


      },
      mounted() {
        ///Calendarios
        //this.$refs.calendar.checkChange()
        //Lista de colabores 

        //Mostrar listado de proyecto automaticamente 
        this.ListProject()
      },

      methods: {


        ///Calendar
        viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = ''
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange (data) {
        var self = this;
        
        const events = []
        self.events = []
        //Todos los proyectos
        for (i in data) {

          axios.get('/api/v1.0/kamban/' + data[i].id + '/')
            .then(response => {
              //console.log(response.data)
              let task_ = response.data
              for(i in task_){
                const first  = new Date(`${task_[i].date_create} ${task_[i].date_time_c}`)
                const first2 = first.getFullYear()+'-'+(first.getMonth()+1)+'-'+first.getDate()+' '+first.getHours() + ":" + first.getMinutes() + ":" + first.getSeconds()
                const second = new Date(`${task_[i].date_change} ${task_[i].date_time_m}`)
                const second2 = second.getFullYear()+'-'+(second.getMonth()+1)+'-'+second.getDate()+' '+second.getHours() + ":" + second.getMinutes() + ":" + second.getSeconds()
                //Variable de calculo temporal para ver los dias que lleva el proceso
               
               
                events.push({
                  name: task_[i].title,
                  start: first2,
                  end:second2,
                  details:task_[i].description,
                  color: this.colors[this.rnd(0, this.colors.length - 1)],
                 
                })
              }
            })
            .catch(error => { console.log(error) })
          
          
        
        
      }
      self.events = events


          },
      rnd (a, b) {
        return Math.floor((b - a + 1) * Math.random()) + a
      },

        ///Calendar
        //Busqueda de usuario y agregado a proyecto en curso
        SearchUsuario() {
          var self = this;
          //console.log(id)
          axios.get('/api/v1.0/users/?search=' + self.search_usuario)
            .then(response => {
              //this.Project_list = response.data
              console.log(response.data)
              //self.search_complete = response.data[0]
              self.SearchUsuario_Image(response.data)
            })
            .catch(error => { console.log(error) })
        },

        async SearchUsuario_Image(data){
          var self = this;
          console.log(data[0])
          self.search_complete = []
          let Profile_Image = await axios.get('/api/v1.0/profile/?search=' + data[0].id)
            //console.log(Profile_Image)
            //console.log(data[i])
            if (Profile_Image.data[0].image != "") {
              self.search_complete = {'id': data[0].id, 'username': data[0].username,'email':data[0].email, 'image':Profile_Image.data[0].image}
            }
            else{
              self.search_complete = {'id': data[0].id, 'username': data[0].username,'email':data[0].email, 'image':''}
            }

        },


        //Files Commentarios diaglo 
        Files_Task_comment(id) {
          var self = this;
          self.files_mostar_html = ""
          //console.log(self.files_office_file)
          var docx = id.endsWith(".docx");
          var doc = id.endsWith(".doc");
          var xls = id.endsWith(".xls");
          var xlsx = id.endsWith(".xlsx");
          var mp4 = id.endsWith(".mp4");
          var pdf = id.endsWith(".pdf");


          self.files_path = id
          //Ejecutar Modal 

          if ((docx === true) || (doc === true) || (xls === true) || (xlsx === true)) {
            self.files_mostrar = false
            self.fileDialog = true

          } else {
            if (mp4 === true) {
              self.files_mostar_html = "mp4"
              self.files_mostrar = true,
                self.dialogVideo = true
            }
            if (pdf === true) {
              self.files_mostar_html = "pdf"
              self.files_mostrar = true,
                self.fileDialog = true
            } else {
              self.files_mostrar = true,
                self.fileDialog = true
            }
          }
        },
        //Files Commentarios diaglo 
        //funcion que captura todas las tareas 
        List_Task_Kamban() {
          var self = this;
          //console.log(id)
          axios.get('/api/v1.0/task/')
            .then(response => {
              //this.Project_list = response.data
              //console.log(response.data)
              self.Task_Kamban = response.data

              //Get calendar

            })
            .catch(error => { console.log(error) })
        },
        //Listar projecto a los cuales pertenezco 
        //Funcion para agregar nuevos proyectos a db
        ListProjectAdd() {
          var self = this;
          //console.log(self.id_task)
          axios.post('/api/v1.0/project/', {
            name: self.project_name_add,
            owner: ID_Token,
            description: self.project_description_add,
          }, {
            headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
          })
            .then(function (response) {
              //console.log(response);
              self.project_name_add = ""
              self.project_description_add = ""
              self.notification('New Project', 'Action added successfully')
              self.Members_add(response.data.id, ID_Token)
            })
            .catch(function (error) {
              console.log(error);
            });

        },
        Member_list(id) {
          var self = this;
          self.List_Members_for_project = []
          axios.get('/api/v1.0/membersDetail/?search=' + id)
            .then(response => {
              //self.List_Members_for_project = response.data
              self.Member_list_image(response.data)
            })
            .catch(error => { console.log(error) })
        },
        Member_list_image(array_member) {
          var self = this;
          colabores = []
          console.log(array_member)
          //console.log("Creo que se ejecuta aqui : " + str(array_member[i].member.id))
          for (i in array_member) {
            axios.get('/api/v1.0/profile/' + array_member[i].member.id + '/')
              .then(response => {
                colabores = response.data
                
                //self.List_Members_for_project = response.data
                self.List_Members_for_project.push({ 'id': colabores.user.id,'member_id':array_member[0].id ,'project':array_member[0].project ,'email': colabores.user.email, 'username': colabores.user.username, 'image': response.data.image })
              })
              .catch(error => {
                //console.log(error.response.status);
                //console.log(error) 
                //console.log(error.response.headers);
              })
          }
        },
        Members_add(project_id, user_id) {
          var self = this;
          const validar = []
          console.log(project_id)
          console.log(user_id)

          //Validar si el usuario ya pertenece a este proyecto
          
          axios.get(`/api/v1.0/members/?search=${project_id}+${user_id}`)
            .then(response => {
              validar = response.data
            })
            .catch(error => { console.log(error) })

            if(validar != []){
              axios.post('/api/v1.0/members/', {
                project: project_id,
                owner: ID_Token,
                member: user_id,
              }, {
                headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
              })
                .then(function (response) {
                  //console.log(response);
                  self.ListProject()
                  self.Member_list(project_id)
                  self.search_usuario = ''
                  self.search_complete = ''

                })
                .catch(function (error) {
                  console.log(error);
                });
            }
            else{
              self.notification('Alert','the selected profile already belongs to this working group.')
            }
        },

        Members_delete(id_member, project_id){
          var self = this;
      
            axios
                .delete(`/api/v1.0/members/${id_member}/`,{
                headers: {'X-CSRFTOKEN': CSRF_TOKEN,},
                })
                .then(response => {
                  self.Member_list(project_id)
                  self.notification('Delete','Collaborate removed successfully.')
                
                })
                .catch(error => {
                    console.log(error)
                
                
                })



        },
        Kamban_add(id_proyecto) {
          //console.log(id_proyecto)
          var self = this;
          self.dialogKamban = true
          axios.post('/api/v1.0/kamban/', {
            project: id_proyecto,
            owner: ID_Token,
            name: self.kamban_name,
            description: self.kamban_description,
          }, {
            headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
          })
            .then(function (response) {
              //console.log(response);
              self.kamban_description = ""
              self.kamban_name = ""
              self.List_Kamban_Task_Project_Select(self.selectedProjectCreate)
            })
            .catch(function (error) {
              console.log(error);
            });

        },
        task_kamban_modal(id_kamban, id_project) {
          var self = this;
          self.dialogKambanTask = true
          self.task_id = id_kamban
          self.task_project_id = id_project
        },
        task_kamban_add() {
          var self = this;
          //console.log(id_kamban)
          axios.post('/api/v1.0/task/', {
            project: self.task_project_id,
            kamban: self.task_id,
            owner: ID_Token,
            title: self.task_title,
            description: self.task_description,
            priority: self.Nivel_urgencia_select
          }, {
            headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
          })
            .then(function (response) {
              //console.log(response);
              self.task_description = ""
              self.task_title = ""
              self.List_Kamban_Task_Project_Select(self.selectedProjectCreate)
            })
            .catch(function (error) {
              console.log(error);
            });
        },

        ListProject() {
          var self = this;
          axios.get('/api/v1.0/project/')
            .then(response => {
              this.Project_list = response.data
              this.dessertsProjectCreate = response.data
            })
            .catch(error => { console.log(error) })
        },
        //Funcion para apartado de tabla
        //Funcion creada para llamar las tareas de las tablas por medio del id del project
        //Esto es muy importante para cargar solo la informacion de lo que se quiere trabajar.
        List_Table(id) {
          //console.log(id)
          var self = this;
          axios.get('/api/v1.0/project/' + id + '/')
            .then(response => {
              //this.Project_list = response.data
              //console.log(response.data)
              self.itemsKamban = response.data
              //Variables globales para poder verificar si es el propietario del proyecto a la hora de agregar mas colabores
              self.Project_owner_ID_Global = response.data[0].owner
              self.Project_owner_ID_OWNER = ID_Token
              self.Project_ID_Global = id
              self.Member_list(id)
              //Ejecutar calendario
              self.updateRange(response.data)


              

            })
            .catch(error => { console.log(error) })
        },
        //Enlistar las tareas principales de los kamban de projecto en curso o ejecucion
        List_subTask(id) {
          var self = this;
          //console.log(id)
          axios.get('/api/v1.0/kamban/' + id + '/')
            .then(response => {
              //this.Project_list = response.data
              console.log(response.data)
              self.List_subTask_Image(response.data)
              //self.subitemKamban = response.data
            })
            .catch(error => { console.log(error) })
        },

        //Extraer imagen del owner de task por kamban
        async List_subTask_Image(data) {
          var self = this;
          console.log(data)
          self.subitemKamban = []
          //Iterar los registros para extraer la imagen del owner
          for (i in data) {
            let Profile_Image = await axios.get('/api/v1.0/profile/?search=' + data[i].owner)
            console.log(Profile_Image)
            //console.log(data[i])
            if (Profile_Image.data[0].image != "") {
                console.log(data[i].title)
                self.subitemKamban.push({'id':data[i].id, 'image': Profile_Image.data[0].image,'owner':data[i].owner ,'kamban':data[i].kamban, 'priority': data[i].priority, 'project':data[i].project , 'status': data[i].status, 'title': data[i].title,'date_create':data[i].date_create,'date_change':data[i].date_change,'description':data[i].descrition})
            }else{
              self.subitemKamban.push({'id':data[i].id, 'image': '','owner':data[i].owner ,'kamban':data[i].kamban, 'priority': data[i].priority, 'project':data[i].project , 'status': data[i].status, 'title': data[i].title,'date_create':data[i].date_create,'date_change':data[i].date_change,'description':data[i].descrition})

                //self.subitemKamban.push({'id':data[i].id ,'owner':data[i].owner ,'kamban':data[i].kamban, 'priority': data[i].priority, 'project':data[i].project , 'status': data[i].status, 'title': data[i].title,'date_create':data[i].date_create,'date_change':data[i].date_change,'description':data[i].descrition,'image':''})
            }
          }
         
          


        },
        //Funcion para apartado de tabla
        async List_Coment(id) {
          var self = this;
          self.drawerEdit = true
          self.List_Comment_drawer = []
          //Listado de Comentarios por Task
          let List_Comentarios = await axios.get('/api/v1.0/comment/?search=' + id)
          //self.List_Comment_drawer = List_Comentarios.data
          //console.log(List_Comentarios.data)
          self.extraImage(List_Comentarios.data)
          /*let ids = 0
          for(i in List_Comentarios){
            ids = List_Comentarios.data[i].owner.id
            let Profile_Image = await axios.get('/api/v1.0/profile/?search='+ ids)
            console.log(Profile_Image.data)
          }*/
          //Extraer detalles de la Tarea
          let Detail_Task = await axios.get('/api/v1.0/task/' + id + '/')
          self.List_Task_drawer = Detail_Task.data
          //console.log(self.List_Task_drawer)
          //Guadamos temporal el id para agragar a futuro nuevos comentarios
          self.id_task = id
        },
        //Informacion de barra lateral izquieda, muestra comentarios, participantes, form de modificacion de estatus 
        //y mas detalles de la misma tarea
        async extraImage(data) {
          var self = this;
          for (i in data) {
            let Profile_Image = await axios.get('/api/v1.0/profile/?search=' + data[i].owner.id)
            let files = await axios.get('/api/v1.0/files/?search=' + data[i].id)
            //console.log(files.data)
            //console.log(data[i])
            //console.log(Profile_Image.data[0])
            if (Profile_Image.data[0] != undefined) {
              if (files.data != []) {
                self.List_Comment_drawer.push({ 'id': data[i].id, 'owner': data[i].owner, 'image': Profile_Image.data[0].image, 'comment': data[i].comment, 'date_create': data[i].date_create, 'date_time_c': data[i].date_time_c, 'files': files.data })
              }
              else {
                self.List_Comment_drawer.push({ 'id': data[i].id, 'owner': data[i].owner, 'image': Profile_Image.data[0].image, 'comment': data[i].comment, 'date_create': data[i].date_create, 'date_time_c': data[i].date_time_c, 'files': [] })
              }
            }
            else {
              if (files.data != []) {
                self.List_Comment_drawer.push({ 'id': data[i].id, 'owner': data[i].owner, 'image': 'https://k60.kn3.net/89F951249.gif', 'comment': data[i].comment, 'date_create': data[i].date_create, 'date_time_c': data[i].date_time_c, 'files': files.data })
              }
              else {
                self.List_Comment_drawer.push({ 'id': data[i].id, 'owner': data[i].owner, 'image': 'https://k60.kn3.net/89F951249.gif', 'comment': data[i].comment, 'date_create': data[i].date_create, 'date_time_c': data[i].date_time_c, 'files': [] })
              }
            }
          }
        },

        //AGREGAR COMENTARIO A TASK POR MEDIO DEL ID DE TASK
        Task_add_comment() {
          var self = this;
          //console.log(self.id_task)
          if (self.id_task_comentario.length <= 225) {
            axios.post('/api/v1.0/commentAdd/', {
              comment: self.id_task_comentario,
              owner: ID_Token,
              task: self.id_task,
            }, {
              headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
            })
              .then(function (response) {
                //console.log(response);
                self.List_Coment(self.id_task)
                self.id_task_comentario = ""
                //De cumplicar esta condicion llamara la funcion de agregar archivos 
                if (self.files.length >= 1) {
                  self.Task_add_comment_Files(response.data.id)
                }
                //self.notification('New comment', 'Action added successfully')
              })
              .catch(function (error) {
                console.log(error);
              });
          }
          else {
            console.log("Demasiados caracteres")
          }
        },
        //Funcion para agregar archivos multimedia por
        async Task_add_comment_Files(id) {
          var self = this;
          for (i in self.files) {
            let formData = new FormData();
            formData.append('comment', id);
            formData.append('owner', ID_Token);
            formData.append('files', self.files[i]);

            axios.post('/api/v1.0/files/', formData, {
              headers: { 'X-CSRFTOKEN': CSRF_TOKEN, 'Content-Type': 'multipart/form-data', },
            })
              .then(function (response) {
                console.log(response);
                //formData.delete(name);
                //self.files=[]
                //self.List_Coment(self.id_task)
              })
              .catch(function (error) {
                console.log(error);
              });
          }
          self.files = []
        },

        async Task_Mark_Finished() {
          var self = this;
          //console.log(self.id_task)
          axios.put('/api/v1.0/task/' + self.id_task + '/', {
            id: self.id_task,
            status: false,
            owner: ID_Token,
            title: self.List_Task_drawer.title,
            project: self.List_Task_drawer.project,
          }, {
            headers: { 'X-CSRFTOKEN': CSRF_TOKEN, },
          })
            .then(function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        //NOTIFICACIONES PUSH
        notification(titulo, comentario) {
          //var self = this;
          //self.snackbar_titulo = titulo
          //self.snackbar_comentario = comentario
          //self.snackbar = true
          Push.create(titulo, {
              body: comentario,
              icon: '{% static 'pushjs/logo.png' %}',
              timeout: 4000,
              onClick: function () {
                  window.focus();
                  this.close();
              }
          });

        },
        ///CREACION DE PROYECTOS
        //Funcion traera desde la el create project todos los Kamban y sus respectivas task 
        List_Kamban_Task_Project_Select(data) {
          //Extraer Kamban del proyecto seleccionado
          var self = this;
          console.log("Ejecutando")
          if (data.length > 0) {
            //Variable que se utilizara despues para la creacion de cambas
            this.Proyect_ID_Kamba = data[0].id
            axios.get('/api/v1.0/project/' + data[0].id + '/')
              .then(response => {
                this.kambaProjectCreate = response.data
                //Se llaman las tareas para poder verlas dentro del kamban create project
                //self.List_Task_Kamban()
                //console.log(response.data)
                //self.itemsKamban = response.data
              })
              .catch(error => { console.log(error) })
          }
        },
        ///CREACION DE PROYECTOS

        ///############################## HISTORY ########################################
        async history_task_comment(id) {
          var self = this;
          //console.log("aqui vas ")
          //console.log(id)
          self.List_Comment_drawer = []
          //Listado de Comentarios por Task
          let comment = await axios.get('/api/v1.0/comment/?search=' + id)
          self.extraImage(comment.data)
        },
        ///############################## HISTORY ########################################
      },
    });


  </script>
</body>

</html>